In [25]:
import numpy as np
import pandas as pd

## 4

In [26]:
A = np.array([
    [1, 0, 0, 0, 0, 0, 0, 1],
    [0, 1, 0, 0, 0, 0, 1, 0],
    [0, 0, 1, 0, 0, 1, 0, 0],
    [0, 0, 0, 1, 1, 0, 0, 0],
    [0, 0, 0, 0, 2, 1, 0, 0],
    [0, 0, 0, 0, 0, 2, 0, 0],
    [0, 0, 0, 0, 0, 0, 3, 1],
    [0, 0, 0, 0, 0, 0, 0, 3],
])

In [27]:
res = A@A
df = pd.DataFrame(res)
display(df)

   0  1  2  3  4  5  6  7
0  1  0  0  0  0  0  0  4
1  0  1  0  0  0  0  4  1
2  0  0  1  0  0  3  0  0
3  0  0  0  1  3  1  0  0
4  0  0  0  0  4  4  0  0
5  0  0  0  0  0  4  0  0
6  0  0  0  0  0  0  9  6
7  0  0  0  0  0  0  0  9

## 6

In [28]:
A = np.array([
    [1, 1, 3],
    [-2, 2, 1],
    [0, 1, 1],
    ])
np.linalg.det(A)

-2.9999999999999996

In [29]:
A = np.eye(3)
A = np.ones_like(A) - A
A
np.linalg.det(A)

2.0

## 8

In [30]:
A = np.array([
    [1, 0, 3],
    [4, 4, 6],
    [7, 0, 9],
])

B = np.array([
    [2,0,0],
    [0,3,0],
    [0,0,4],
])

In [31]:
np.linalg.det(np.linalg.matrix_power(A, 4).T@np.linalg.inv(B)@np.linalg.matrix_power(np.linalg.inv(A), 4)@np.linalg.matrix_power(B, 3).T)

576.0000000494572

## 9

In [32]:
A = np.array([
    [4, 1, -2],
    [3, 6, -1],
    [1, 1, 5],
    ])
np.linalg.det(A)

114.00000000000003

## 7

In [40]:
A = np.array([
    [-6,14,-6],
    [-33,25,-7],
    [10,-6,10],
])
np.linalg.inv(A)

array([[ 7.69230769e-02, -3.84615385e-02,  1.92307692e-02],
       [ 9.61538462e-02, -2.93568588e-18,  5.76923077e-02],
       [-1.92307692e-02,  3.84615385e-02,  1.15384615e-01]])

In [42]:
np.linalg.det(A)

2703.9999999999986

In [35]:
B = np.array([
    [-2,-7,-9],
    [2,5,6],
    [1,3,4],
])
np.linalg.inv(B)

array([[ 2.,  1.,  3.],
       [-2.,  1., -6.],
       [ 1., -1.,  4.]])

In [36]:
np.linalg.det(B)

1.0

In [38]:
C = np.array([
    [1,-2,1],
    [4,-7,3],
    [-2,6,-4],
])
np.linalg.det(C)

0.0